<!DOCTYPE html>
<html>
<head>
  <title>Rp</title>
  <%= stylesheet_link_tag    "rp/application", media: "all" %>
  <%= javascript_include_tag "rp/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
